
body {
    padding: 0;
    margin: 0;
    font-family: Arimo, serif;
}

#mapdiv {
    width: 100%;
    height: 92%;
    border: 0;
    margin: 0;
    padding: 0;
}

#buttons {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8%;
}

.menuButton {
    height: 100%;
    width: calc(100% / 3);
    margin: 0;
    border: 0;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arimo, serif;
}

.arrow {
    height: 48px;
    width: 48px;
}

.lighterButton {
    background-image: url("/img/background.png");
    border: 1px solid darkgreen;
    color: #2d0101;
}

.darkerButton {
    background-image: url("/img/background.png");
    border-top: 1px solid darkgreen;
    border-bottom: 1px solid darkgreen;
    color: #2d0101;
}

#heroPanel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92%;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 750;
    visibility: hidden;
    background-image: url("img/background_lighter.png");
    background-size: cover;
    font-size: x-large;
    font-family: Arimo, serif;
    text-align: center;
}

#avatarImg {
    max-width: 500px;
    max-height: 100px;
}

#menuPanel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92%;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 750;
    visibility: hidden;
    background-image: url("img/background_lighter.png");
    background-size: cover;
    font-size: x-large;
    font-family: Arimo, serif;
    text-align: center;
}

#equipmentPanel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92%;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 750;
    visibility: hidden;
    background-image: url("img/background_lighter.png");
    background-size: cover;
    font-size: x-large;
    font-family: Arimo, serif;
    text-align: center;
}
.cell {
    width: 80px;
    height: 80px;
    text-align: center;
}

.biggerCell {
    width: 80px;
    height: 80px;
    text-align: center;
}

.heroInfoDiv {
    border: 1px solid darkgreen;
    border-radius: 5px;
    margin: 8px;
    padding: 8px;
}


#banner {
    width: 100%;
    border: 1px solid darkgreen;
    border-radius: 5px;
}

.standardButton {
    background-image: url("/img/background.png");
    border: 1px solid darkgreen;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    color: #2d0101;
}

.plusButton {
    background: none;
    font-weight: bolder;
    border: 1px solid #023902;
    border-radius: 3px;
    color: #023902;
    margin: 0;
    padding: 0px 8px;
    font-size: x-large;
}

input {
    border: 1px solid darkgreen;
    border-radius: 5px;
    background: #ddd;
    font-size: x-large;
    color: #023902;
}

#combatReportPanel {
    position: absolute;
    left: 8%;
    top: 8%;
    width: 84%;
    z-index: 751;
    visibility: hidden;
    background-image: url("img/background_lighter.png");
    background-size: cover;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
}

#reportText {
    background: #DDD;
    border: 1px solid green;
    border-radius: 5px;
    font-size: x-large;
    font-family: Arimo, serif;
    margin-bottom: 8px;
    color: #2d0101;
}

#itemDroppedInfo {
    font-size: x-large;
    font-family: Arimo, serif;
    margin-bottom: 8px;
}

#interaction {
    position: absolute;
    left: 8%;
    top: 8%;
    width: 84%;
    height: 40%;
    z-index: 750;
    visibility: hidden;
}

#interactionInfo {
    background-image: url("img/background_lighter.png");
    background-size: cover;
    border: 1px solid green;
    border-radius: 5px;
    height: 75%;
    width: 100%;
    padding: 2px;
    font-size: xxx-large;
    font-family: Arimo, serif;
    text-align: center;
}

#interactionImage {
    height: 70%;
    width: calc(100% - 4px);
    margin: 2px;
    background: #ddd;
    border-radius: 5px;
    text-align: center;
}

#interactionImage img {
    height: 100%;
    width: auto;
}

#interactionTitle {
    font-weight: bold;
    color: #2d0101;
}

#interactionButtons {
    height: 16%;
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

#interactionButtons button {
    height: 100%;
    margin: 0;
    background-image: url("img/background.png");
    border: 1px solid darkgreen;
    border-radius: 5px;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arimo, serif;
    color: #2d0101;
}

#interactionConfirm {
    width: calc(100% / 3);
}


#movingModePanel {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: x-large;
    font-family: Arimo, serif;
    text-align: center;
}

#movingMode {
    background-image: url("img/background_much_lighter.png");
}

#equipmentTop {
    display: flex;
    position: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    width: 30%;
}

#equipmentTopLeft {
    margin-right: 50px;
}

#equipmentTopRight {
}

#armorSlot {
    background-image: url("/img/emptyArmorSlot.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#weaponSlot {
    background-image: url("/img/emptyWeaponSlot.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#equipmentTrash {
    background-image: url("/img/emptyTrashSlot.png");
    background-size: contain;
    background-repeat: no-repeat;
}


#itemInfo {
    border: 1px solid darkgreen;
    margin: 5px;
    padding: 5px;
    visibility: hidden;
    background-image: url("/img/background.png");
    border-radius: 5px;
}

#itemInfoName {
    font-weight: bolder;
}

#banner {
    width: calc(50%);
}

.equipmentTable {
    border: 1px solid #003800;
    border-radius: 5px;
    background-image: url("/img/background.png");
    color: #2d0101;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 3px;
    margin-top: 2px;
}

.equipmentTable > th, td {
    border: 4px solid #003800;
    border-radius: 5px;
}