body {
    background-image: url("../img/background_much_lighter.png");
    font-family: Arimo, serif;
}

p {
    font-size: x-large;
}

input {
    font-size: x-large;
    margin-bottom: 10px;
}

#login {
    position: absolute;
    left: 20%;
    background-image: url("../img/background_lighter.png");
    background-size: cover;
    border: 2px solid darkgreen;
    border-radius: 5px;
    top: 2%;
    width: calc(60% - 40px);
    margin: 0;
    padding: 20px;
    font-size: x-large;
    font-family: Arimo, serif;
    text-align: center;
}

#banner {
    width: 100%;
    border: 1px solid darkgreen;
    border-radius: 5px;
}

.submitButton {
    background-image: url("/img/background.png");
    border: 1px solid darkgreen;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    color: #2d0101;
}


input {
    border: 1px solid darkgreen;
    border-radius: 5px;
    background: #ddd;
    font-size: x-large;
    color: #023902;
}

input:valid {
    background: #baf8ad;
}


a {
    background-image: url("/img/background.png");
    border: 1px solid darkgreen;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
    text-decoration: none;
    color: #2d0101;
}