<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #include("views/css/login.css")
    </style>

    <meta charset="UTF-8">

    #if( $errors )
        <title>Login Failed</title>
    #else
        <title>Login</title>
    #end
</head>
<body>
<div id="login">
    <img src="/img/baner.png" id="banner" width="50%">
    <br/>
    <br/>
    <form name="loginForm" action="/login" method="POST">
        <input type="text" placeholder="Login" name="username" required>
        <br/>

        <input type="password" placeholder="Password" name="password" required>
        <br/>

        <button type="submit" class="submitButton">Sign in</button>

        #if( $errors )
            <p><span style="color: #ff0000;">Login Failed</span></p>
        #end

        <p><a href="/register">Do you need to register?</a></p>
    </form>
</div>

</body>
</html>