<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RXX2020 registration page</title>
    <style>
        #include("views/css/login.css")
    </style>
</head>
<body>
<div id="login">
    <img src="/img/baner.png" id="banner" >
    <form name="registration" action="/registered" method="get">
        <input id="loginField" name="login" placeholder="Login">
        <br/>

        <input id="passwordField" name="password" type="password" placeholder="Password">
        <br/>

        <button type="submit" class="submitButton" onclick="register()">Register</button>
    </form>
    <br/>
    <br/>
    <a href="/login/auth">Go to login page</a>

</div>
</body>
</html>