<!DOCTYPE html>
<html>
<head>
    <title>RXX2020 registration page</title>
    <style>
        #include("views/css/login.css")
    </style>
</head>
<body>
<div id="login">
    <img src="/img/baner.png" id="banner">
    <form target="../registered" method="GET">
        <input name="login" placeholder="Login">
        <br/>

        <input name="password" type="password" placeholder="Password">
        <br/>

        <button type="submit" class="submitButton">Register</button>
    </form>
    <br/>
    <br/>
    <a href="/login/auth">Go to login page</a>
</div>
</body>
</html>